/* manrope-regular - cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/manrope-v14-cyrillic-regular.woff2') format('woff2'),
    url('../fonts/manrope-v14-cyrillic-regular.woff') format('woff');
}

/* manrope-500 - cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/manrope-v14-cyrillic-500.woff2') format('woff2'),
    url('../fonts/manrope-v14-cyrillic-500.woff') format('woff');
}

/* manrope-600 - cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/manrope-v14-cyrillic-600.woff2') format('woff2'),
    url('../fonts/manrope-v14-cyrillic-600.woff') format('woff');
}

/* manrope-700 - cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/manrope-v14-cyrillic-700.woff2') format('woff2'),
    url('../fonts/manrope-v14-cyrillic-700.woff') format('woff');
}

/* inter-300 - cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inter-v12-cyrillic-300.woff2') format('woff2'),
    url('../fonts/inter-v12-cyrillic-300.woff') format('woff');
}

/* inter-regular - cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-cyrillic-regular.woff2') format('woff2'),
    url('../fonts/inter-v12-cyrillic-regular.woff') format('woff');
}

/* inter-700 - cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v12-cyrillic-700.woff2') format('woff2'),
    url('../fonts/inter-v12-cyrillic-700.woff') format('woff');
}