.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.js-scroll {
  overflow: hidden;
}

.container--flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  display: flex;

  & a {
    transition: all ease-in 0.12s;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.title {
  font-family: 'Manrope', sans-serif;
  font-size: clamp(2.188rem, 1.775rem + 2.06vw, 4.25rem);
  font-weight: 800;
  line-height: 113%;
  margin-bottom: clamp(1.800rem, 1.570rem + 0.94vw, 4.5rem);
}

.text--grey {
  color: var(--grey-color);
}

.slider-btn {
  position: absolute;
  width: 80px;
  height: 80px;

  &:focus-visible {
    border: 5px solid var(--red-color);
    border-radius: 5px;
  }

  &--light {

    & svg {
      fill: rgba(255, 255, 255, 0.5);
      transition: all ease-in 0.15s;

      &:hover {
        fill: rgba(255, 255, 255, 0.8);
      }
    }

    &:disabled svg {
      fill: var(--white-color);
      cursor: default;
    }
  }

  &--dark {

    & svg {
      fill: rgba(0, 0, 0, 0.5);
      transition: all ease-in 0.15s;

      &:hover {
        fill: rgba(0, 0, 0, 0.8);
      }
    }

    &:disabled svg {
      fill: var(--black-color);
      cursor: default;
    }
  }
}

.swiper {
  overflow: hidden;
  width: 100%;
}

.swiper-wrapper {
  display: inline-flex;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;

  &-bullet {
    width: clamp(0.688rem, 0.563rem + 0.63vw, 1.313rem);
    height: clamp(0.688rem, 0.563rem + 0.63vw, 1.313rem);
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--grey-color);
    transition: ease-in 0.2s;
    align-items: center;


    &-active {
      cursor: default;
      background-color: var(--white-color);
    }

    &:focus-visible {
      border: 3px solid var(--red-color);
    }
  }
}

.common-button {
  padding: 32px 0;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: clamp(1rem, 0.678rem + 1.81vw, 2.913rem);
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--denim-color);
  transition: ease-in 0.2s;

  &:hover,
  &:focus {
    box-shadow: 0px 0px 10px 2px var(--denim-color);
  }
}

.accordion {
  cursor: pointer;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: clamp(1.688rem, 1.587rem + 0.5vw, 2.188rem);
    line-height: 114%;
    text-align: inherit;
    margin-right: 12px;
    color: var(--white-color);

    &:focus-visible {
      border: 1px solid var(--white-color);
      border-radius: 5px;
    }

    & span {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 58%;
        right: -35px;
        transform: translateY(-58%);
        background-image: url(../img/svg/accordion-arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center right;
        width: 26px;
        height: 15px;
        transition: ease-in-out 0.3s;
      }
    }
  }

  &__content {
    overflow: hidden;
    height: 0px;
    transition: ease-in-out 0.3s;
  }

  &__descr {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: var(--grey-color);
  }

  & a {
    color: var(--white-color);
    text-decoration: underline;
  }
}

.accordion-open span::after {
  top: 44%;
  transform: translateY(-44%);
  transform: rotate(180deg);
}

#preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--liquorice-color);
  z-index: 200;
}

#preloader.hide-preloader {
  animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
  display: none;
}

@keyframes hidePreloader {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pageup {
  position: fixed;
  display: block;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  opacity: 0;
  visibility: hidden;
  filter: drop-shadow(0px 0px 8px var(--denim-color));
  transition: ease-in-out 0.2s;
  z-index: 50;

  &:hover {
    opacity: 1;
  }

  &--visible {
    opacity: 0.5;
    visibility: visible;
  }
}