@media (max-width: 1365px) {
  .services-slide {
    &::before {
      background-size: auto;
    }
  }
}


@media (max-width: 1350px) {
  .services {
    &-slide {
      &--2:hover::before {
        left: 311px;
      }

      &--2:hover::after {
        left: 18%;
      }

      &--3:hover::after {
        left: -37%;
        top: -82.5%;
      }

      &--3:hover::before {
        left: -25%;
        top: -55%;
      }
    }
  }
}

@media (max-width: 1270px) {
  .services {
    &-slide {
      &--3:hover::after {
        top: -82%;
      }

      &--3:hover::before {
        left: -24%;
        top: -54%;
      }
    }
  }
}

@media (max-width: 1230px) {
  .services {
    &-slide {
      &--3:hover::after {
        top: -85%;
      }

      &--3:hover::before {
        top: -52%;
      }
    }
  }
}

@media (max-width: 1215px) {
  .services {
    &-slide {
      &--3:hover::after {
        top: -84%;
      }
    }
  }
}

@media (max-width: 1190px) {
  .services {
    &-slide {
      &--2:hover::before {
        top: -62.5%;
        left: 305px;
      }

      &--3:hover::after {
        top: -82%;
      }

      &--3:hover::before {
        top: -48%;
      }
    }

    &-btn {
      top: 93.8%;
    }
  }


  .conditions-btn {
    top: 92%;
    width: 60px;
    height: 60px;
  }

  .conditions__next {
    right: 22%;
  }

  .conditions__prev {
    left: 22%;
  }
}

@media (max-width: 1130px) {
  .services-slide {

    &--2:hover::before {
      top: -61%;
    }

    &--3:hover::before {
      top: -45%;
    }
  }
}

@media (max-width: 1090px) {
  .services-slide {

    &--3:hover::before {
      left: -23%;
      top: -42%;
    }
  }
}

@media (max-width: 1060px) {
  .services {

    &-slide {
      &::before {
        background-size: 60%;
      }

      &--1:hover:before {
        top: -30%;
      }

      &--2::before {
        background-size: 30%;
        top: -70%;
      }

      &--2:hover::before {
        top: -60%;
        left: 279px;
      }

      &--2::after {
        background-size: 80%;
        left: 24%;
      }

      &--3:hover::before {
        left: -24%;
        top: -44%;
      }
    }
  }
}

@media (max-width: 1015px) {
  .services-slide--2:hover::before {
    left: 270px;
  }
}

@media (max-width: 940px) {
  .services {
    &__img {
      width: fit-content;
      max-height: 600px;
    }

    &-content {
      padding-top: 25px;
      grid-template-columns: auto;

      & picture {
        margin: 0 auto;
        max-height: 600px;
        order: 2;
      }
    }

    &-slide {
      &:hover {
        background-color: var(--white-color);
      }

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    &__descr {
      padding-top: 25px;
    }

    &__pagination {
      bottom: 37px;
    }

    &-btn {
      top: 95.5%;
    }
  }

  .slider-btn {
    width: 60px;
    height: 60px;
  }

  .corp-life-btn {
    top: 98%;
  }

  .tasks-btn {
    top: 93%;
  }
}

@media (max-width: 900px) {
  .header {
    &__logo {
      width: 40%;
    }

    &__list {
      gap: 20px;
    }
  }
}

@media (min-width: 771px) {
  .burger {
    display: none;
  }
}

@media (max-width: 771px) {
  .swiper {
    &-pagination {
      gap: 6px;
    }
  }

  .header {
    &__logo {
      width: auto;
    }

    &__nav {
      display: none;
    }
  }

  .header .container--flex {
    justify-content: space-evenly;
  }

  .hero .container--flex {
    justify-content: center;
    gap: 80px;
  }

  .tasks-btn {
    top: 105%;
  }

  .tasks {
    padding-bottom: 50px;
  }

  .partners__title {
    margin-bottom: 21px;
  }

  .tasks__title {
    margin-bottom: 21px;
  }

  .faq {
    &__title {
      margin-bottom: 30px;
    }
  }

  .services {
    &-slide {

      &--1::before {
        left: 0;
      }
    }
  }

  .accordion {
    &__item {
      gap: 20px;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  .common-button {
    padding: 24px;
  }

  .footer__container {
    flex-direction: column;
    row-gap: 16px;
  }
}

@media (max-width:670px) {
  .slider-btn {
    width: 40px;
    height: 40px;
  }

  .hero {
    &__swiper {
      height: 535px;
    }

    &-slide {
      position: relative;
      height: 535px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, #0D1E29 0%, rgba(13, 30, 41, 0) 81.77%);
        width: 100%;
        height: 100%;
        transform: rotate(180deg);
        mix-blend-mode: multiply;
      }
    }

    &__content {
      position: absolute;
      bottom: 74px;
      left: 20px;
      margin-left: 0px;
      z-index: 10;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__text {
      margin-bottom: 11px;
    }

    &__managers {
      font-size: 14px;
    }

    &__pagination {
      bottom: 30px;
    }

    &-btn {
      top: 94%;
    }

    &__next {
      right: 20px;
    }

    &__prev {
      left: 20px;
    }
  }

  .partners {
    &__list {
      flex-wrap: nowrap;
      overflow: auto;
    }

    &__content {
      line-height: 120%;
    }
  }

  .tasks-btn {
    top: 105%;
  }

  .conditions {
    &-btn {
      top: 95%;
    }

    &__pagination {
      margin-top: 33px;
    }
  }

  .corp-life {
    &-slide__descr {
      font-size: 22px;
    }
  }

  .conditions__next {
    right: 20px;
  }

  .conditions__prev {
    left: 20px;
  }
}

@media (max-width:655px) {
  .feedback__descr {
    margin-bottom: 40px;
  }

  .telegram {
    padding-left: 28px;

    &::before {
      left: -2px;
      width: 28px;
      height: 28px;
    }
  }
}

@media (max-width:600px) {
  .conditions {
    &-slide__text {
      line-height: 125%;
    }
  }

  .corp-life {
    &-btn {
      top: 99%;
    }
  }

  .corp-life {
    &-slide {
      &__card {
        margin-bottom: 0;
      }
    }

    &__pagination {
      margin-top: 40px;
    }
  }

  .swiper-slide-active>.corp-life-slide {
    transform: translateY(0px);
  }
}

@media (max-width:550px) {
  .header {
    padding: 33px 0px;
  }

  .header .container--flex {
    gap: 20px;
    justify-content: center;
  }

  .services {
    &-slide {
      &::before {
        background-size: contain;
      }

      &--1:hover::before {
        left: 12%;
      }

      &:hover:hover::before {
        top: -25%;
      }
    }
  }

}

@media (max-width:480px) {
  .hero-slide--1 {
    background-image: url(../img/hero-slide1__media.jpg);
  }
}

@media (max-width:450px) {
  .header {
    &__logo {
      width: 138px;
    }
  }

}

@media (max-width:380px) {
  .header {
    & .container--flex {
      justify-content: right;
    }
  }
}

@media (max-width:350px) {
  .header {
    &__logo {
      display: none;
    }
  }

  .header .container--flex {
    justify-content: center;
  }
}