html {
  position: relative;
  scroll-behavior: smooth;
}

@import "./vendor/normalize";
@import "vars";
@import "fonts";

body {
  position: relative;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 40px;
  background-color: var(--liquorice-color);
  color: var(--white-color);
}

.container {
  max-width: 1353px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

// \* {
//   outline: 1px solid red !important;
// }

// общие стили
@import "./general";
@import "./variables";
@import "./mixins";

//header
@import "./nav/navbar";
@import "./nav/texts";
@import "./nav/variables-adaptive";

// подключения компонентов страницы
@import "./components/hero";
@import "./components/partners";
@import "./components/tasks";
@import "./components/conditions";
@import "./components/corp-life";
@import "./components/services";
@import "./components/feedback";
@import "./components/faq";
@import "./components/Ymap";
@import "./components/footer";
@import "./components/animation";

// media
@import "./media";