<section class="corp-life scroll-item-to-top " id="corp-life">
  <div class="container">
    <h2 class="title corp-life__title"><span class="text--grey">Корпоративная </span> жизнь</h2>
    <div class="corp-life-slider">
      <div class="swiper corp-life__swiper swiper-corp-life--js">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="corp-life-slide">
              <div class="corp-life-slide__card">
                <img src="img/corp-life--1.jpg" alt="Фотография сотрудников" class="corp-life-slide__img">
                <p class="corp-life-slide__descr">RNS Vision</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="corp-life-slide">
              <div class="corp-life-slide__card">
                <img src="img/corp-life--2.jpg" alt="Фотография сотрудников" class="corp-life-slide__img">
                <p class="corp-life-slide__descr">IT`s Kicker-2</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide ">
            <div class="corp-life-slide">
              <div class="corp-life-slide__card">
                <img src="img/corp-life--3.jpg" alt="Фотография сотрудников" class="corp-life-slide__img">
                <p class="corp-life-slide__descr">Аналитические игры</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="corp-life-slide">
              <div class="corp-life-slide__card">
                <img src="img/corp-life--4.jpg" alt="Фотография сотрудников" class="corp-life-slide__img">
                <p class="corp-life-slide__descr">Ночное ориентирование</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide ">
            <div class="corp-life-slide">
              <div class="corp-life-slide__card">
                <img src="img/corp-life--5.jpg" alt="Фотография сотрудников" class="corp-life-slide__img">
                <p class="corp-life-slide__descr">День здоровья</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide ">
            <div class="corp-life-slide">
              <div class="corp-life-slide__card">
                <img src="img/corp-life--6.jpg" alt="Фотография сотрудников" class="corp-life-slide__img">
                <p class="corp-life-slide__descr">День рождения компании</p>
              </div>
            </div>
          </div>
        </div>
        <div class="corp-life__btns">
          <button class="slider-btn corp-life-btn slider-btn--light corp-life__next">
            <svg viewBox="0 0 80 81">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M0.000308848 38.2305C1.04237 17.0682 18.5304 0.230463 39.9512 0.230465C62.0426 0.230467 79.9512 18.1391 79.9512 40.2305C79.9512 62.3219 62.0426 80.2305 39.9512 80.2305C18.5304 80.2305 1.04237 63.3927 0.000308498 42.2305L62.9247 42.2305L53.611 51.5442C52.83 52.3252 52.83 53.5916 53.611 54.3726C54.3921 55.1536 55.6584 55.1537 56.4395 54.3726L69.1674 41.6447C69.9484 40.8636 69.9484 39.5973 69.1674 38.8163L56.4395 26.0883C55.6584 25.3073 54.3921 25.3073 53.611 26.0883C52.83 26.8694 52.83 28.1357 53.611 28.9168L62.9247 38.2305L0.000308848 38.2305Z" />
            </svg>
          </button>
          <button class="slider-btn corp-life-btn slider-btn--light corp-life__prev">
            <svg viewBox="0 0 81 81">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M80.5905 42.2305C79.5485 63.3927 62.0604 80.2305 40.6396 80.2305C18.5483 80.2305 0.639648 62.3219 0.639648 40.2305C0.639648 18.1391 18.5483 0.230469 40.6396 0.230469C62.0604 0.230469 79.5485 17.0682 80.5905 38.2305H17.6661L26.9798 28.9168C27.7608 28.1357 27.7608 26.8694 26.9798 26.0883C26.1987 25.3073 24.9324 25.3073 24.1514 26.0883L11.4234 38.8163C10.6424 39.5973 10.6424 40.8636 11.4234 41.6447L24.1514 54.3726C24.9324 55.1537 26.1987 55.1537 26.9798 54.3726C27.7608 53.5916 27.7608 52.3252 26.9798 51.5442L17.6661 42.2305H80.5905Z" />
            </svg>
          </button>
        </div>
        <div class="swiper-pagination corp-life__pagination"></div>
      </div>
    </div>
  </div>
</section>