<section class="faq">
  <div class="container">
    <h2 class="title text--grey faq__title">FAQ</h2>
    <div class="accordion faq__accordion">
      <div class="accordion__item">
        <button class="accordion__title">
          Аккредитована ли ваша <span>компания?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">Да, мы официально аккредитованная IT–компания и состоим в государственном
            реестре:<a href="https://www.gosuslugi.ru/itorgs" target="_blank"
              title="Ссылка на госуслуги">https://www.gosuslugi.ru/itorgs</a>
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          Как много человек работают в офисе? Является ли это важным для <span>компании?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">
            В&nbsp;нашем офисе обычно работают 25&nbsp;человек, большинство наших сотрудников работает удаленно. Формат
            работы остается по&nbsp;большей части на&nbsp;усмотрение сотрудника. Если есть возможность, то&nbsp;будем
            рады видеть его в&nbsp;офисе. Есть люди, которым дискомфортно на&nbsp;удаленке, в&nbsp;офисе у&nbsp;нас все
            условия для продуктивной работы).<br>
            К&nbsp;тому&nbsp;же, есть некоторые направления, которые предусматривают работу в&nbsp;офисе
            на&nbsp;постоянной и&nbsp;частичной основе&nbsp;&mdash; количество дней зависит от&nbsp;договоренности
            с&nbsp;непосредственным руководителем.
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          Сколько длится рабочий <span>день?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">Рабочий день длится 8 часов, как и у всех, переработки бывают, они оплачиваются и
            часто связаны с желанием ребят или производственной необходимостью. При этом у нас действует «гибкий»
            график: наши сотрудники могут выбирать удобное начало рабочего дня – до 11:00 по мск.
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          Предоставляет ли компания ДМС работникам? Что в него <span>входит?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">
            Да! Новые сотрудники могут начать пользоваться ДМС уже после 6 месяцев работы. Он включает перечень частных
            клиник по Санкт-Петербургу (или, для иногородних коллег, в городе фактического проживания). Раз в месяц по
            программе ДМС в офис компании приходит врач-терапевт и обследует наших сотрудников.
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          Каким уровнем компетенций должен обладать кандидат, чтобы подойти <span>компании? </span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">
            В РуНетСофт немало опытных специалистов уровня middle и senior, в том числе некогда выросших в стенах
            компании из junior’ов и начинающих специалистов. Поэтому нам, скорее, важны сильная мотивация,
            целенаправленная работа над собой и увлеченность своим делом. Мы всегда открыты к диалогу с кандидатами, и с
            радостью рассмотрим ваше резюме.
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          Есть ли в РуНетСофт внутренняя система <span>наставничества?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">
            Да, есть! Наши проекты серьезные и масштабные, поэтому вы будете закреплены за наставником, который сможет
            помочь вам эффективно развить навыки и подскажет на каждом этапе. Вы всегда будете получать фидбэк от
            старших коллег, которые заинтересованы в ваших положительных результатах. Развитие культуры обмена знаниями
            и опытом – одно из важных направлений нашей компании!
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          Имеется ли у компании опыт работы с международными <span>проектами?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">
            Наш основной фокус направлен на российский рынок, однако мы не исключаем добавления международных проектов.
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          Я живу не в Санкт-Петербурге, как мне попасть на корпоративные <span>мероприятия?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">
            Мы, безусловно, ждём наших коллег на всех корпоративных мероприятиях, а на одно из них вы можете приехать за
            счет компании! Мы готовы предложить вам выбрать любое из значимых событий в течение года и покрыть
            материальные затраты на ж/д/авиабилеты и проживание. Это прекрасная возможность специалистам из регионов
            посетить наш офис, лично познакомиться с командой и коллегами, а также увидеть наш прекрасный город.
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          Как происходит обучение внутри <span>компании?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">
            Наша компания помогает сотрудникам расти двумя путями. Во-первых, создает корпоративную среду, в которой
            интересно развиваться, совершенствоваться и добиваться все более крутых результатов для себя, компании и
            клиентов. Во-вторых, организует образовательные мероприятия. Например, мы регулярно проводим внутренние
            обучения для наших сотрудников по разным темам. Также компания готова оплачивать профессиональное обучение,
            но сотрудник должен сам подобрать курс, объяснить, как он поможет в работе, а в процессе обучения
            обязательно делиться с коллегами, что узнал и как применяет новые знания. Постоянно учиться и развиваться —
            единственно возможный путь для нашей IT-компании.
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          Не нашли ответ на <span>вопрос?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">
            <a href="#feedback" class="js-anchor">Свяжитесь с нами, мы вам ответим:)</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>