<section class="faq">
  <div class="container">
    <h2 class="title text--grey faq__title">FAQ</h2>
    <div class="accordion faq__accordion">
      <div class="accordion__item">
        <button class="accordion__title">
          Является ли компания RuNetSoft <span>аккредитованной?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">да, является. Компания RuNetSoft входит в реестр аккредитованных ИТ-компаний
            <a href="https://www.gosuslugi.ru/itorgs" target="_blank"
              title="Ссылка на госуслуги">https://www.gosuslugi.ru/itorgs</a>
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          Можно ли работать <span>удаленно?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">да, является. Компания RuNetSoft входит в реестр аккредитованных ИТ-компаний
            <a href="https://www.gosuslugi.ru/itorgs" target="_blank"
              title="Ссылка на госуслуги">https://www.gosuslugi.ru/itorgs</a>
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          Какой график работы в <span>компании?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">да, является. Компания RuNetSoft входит в реестр аккредитованных ИТ-компаний
            <a href="https://www.gosuslugi.ru/itorgs" target="_blank"
              title="Ссылка на госуслуги">https://www.gosuslugi.ru/itorgs</a>
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          Есть ли ДМС? Какие <span>условия?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">да, является. Компания RuNetSoft входит в реестр аккредитованных ИТ-компаний
            <a href="https://www.gosuslugi.ru/itorgs" target="_blank"
              title="Ссылка на госуслуги">https://www.gosuslugi.ru/itorgs</a>
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          От какого уровня вы рассматриваете <span>кандидатов?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">да, является. Компания RuNetSoft входит в реестр аккредитованных ИТ-компаний
            <a href="https://www.gosuslugi.ru/itorgs" target="_blank"
              title="Ссылка на госуслуги">https://www.gosuslugi.ru/itorgs</a>
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          Есть ли ментор у Junior <span>грейда?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">да, является. Компания RuNetSoft входит в реестр аккредитованных ИТ-компаний
            <a href="https://www.gosuslugi.ru/itorgs" target="_blank"
              title="Ссылка на госуслуги">https://www.gosuslugi.ru/itorgs</a>
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          Есть ли в компании международные <span>проекты?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">да, является. Компания RuNetSoft входит в реестр аккредитованных ИТ-компаний
            <a href="https://www.gosuslugi.ru/itorgs" target="_blank"
              title="Ссылка на госуслуги">https://www.gosuslugi.ru/itorgs</a>
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          Я живу не в Спб, как мне попасть на корпоративные <span>мероприятия?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">да, является. Компания RuNetSoft входит в реестр аккредитованных ИТ-компаний
            <a href="https://www.gosuslugi.ru/itorgs" target="_blank"
              title="Ссылка на госуслуги">https://www.gosuslugi.ru/itorgs</a>
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          Как можно повысить квалификацию в рамках <span>компании?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">да, является. Компания RuNetSoft входит в реестр аккредитованных ИТ-компаний
            <a href="https://www.gosuslugi.ru/itorgs" target="_blank"
              title="Ссылка на госуслуги">https://www.gosuslugi.ru/itorgs</a>
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__title">
          Не нашли ответ на <span>вопрос?</span>
        </button>
        <div class="accordion__content">
          <p class="accordion__descr">да, является. Компания RuNetSoft входит в реестр аккредитованных ИТ-компаний
            <a href="https://www.gosuslugi.ru/itorgs" target="_blank"
              title="Ссылка на госуслуги">https://www.gosuslugi.ru/itorgs</a>
          </p>
        </div>
      </div>
    </div>
    <button type="submit" class="common-button faq__button">Хочу еще вопросы</button>
  </div>
</section>