<section class="feedback scroll-item-to-top" id="feedback">
  <div class="container">
    <h2 class="title feedback__title"><span class="text--grey">Понравилось?</span> <a
        href="https://web.telegram.org/k/#-987994014" target="_blank" title="Перейти в чат">Напиши нам в <span
          class="telegram">Telegram!</span></a>
    </h2>
    <span class="feedback__descr">Или оставь свои данные и мы сами с тобой свяжемся</span>
    <form action="php/mailer.php" method="POST" class="feedback__form">
      <div class="feedback__input">
        <label for="#name">ФИО</label>
        <input id="name" name="name" type="text" required placeholder="Введите Ваше имя">
      </div>
      <div class="feedback__input">
        <label for="#email">E-mail</label>
        <input id="email" name="email" type="text" required placeholder="Введите Вашу почту">
      </div>
      <div class="feedback__input">
        <label for="#phone">Телефон</label>
        <input id="phone" name="phone" type="phone" required placeholder="Введите Ваш номер телефона">
      </div>
      <button type="submit" class="common-button feedback__button">Свяжитесь со мной!</button>
    </form>
  </div>
</section>