<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="theme-color" content="#111111">
	<title>RNS HR</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
	<script defer src="js/inputmask.min.js" type="text/javascript"></script>
	<script defer src="js/main.js" type="text/javascript"></script>
</head>