<header class="header">
  <div class="container container--flex ">
    <a class="header__logo">
      <img src="img/main-logo.png" alt="Логотип компании">
    </a>
    <nav class="nav header__nav">
      <ul class="header__list">
        <li class="header__item header__item--hover" tabindex="0">
          <a href="#!" class="header__link">Условия работы</a>
        </li>
        <li class="header__item header__item--hover" tabindex="0">
          <a href="#!" class="header__link">Команда</a>
        </li>
        <li class="header__item header__item--hover" tabindex="0">
          <a href="#!" class="header__link">Контакты</a>
        </li>
        <li class="header__item header__item--hover" tabindex="0">
          <a href="#!" class="header__link">О коммании</a>
          <svg width="12" height="10" viewBox="0 0 12 10" opacity="0.7">
            <path
              d="M10.7878 1.67177L4.11398 8.34561L0.869047 8.34561M10.7878 1.67177L4.22525 1.57749M10.7878 1.67177L10.8821 8.23434"
              stroke="white" stroke-width="1.4" />
          </svg>
        </li>
      </ul>
    </nav>
    <address class="contacts header__contacts">
      <a href="tel:88003339239" class="header__phone header__item--hover">8 800 333-92-39</a>
      <a href="mailto:mailbox@runetsoft.ru" class="header__mail header__item--hover">mailbox@runetsoft.ru</a>
    </address>
    <button class="burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  </div>
</header>