<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>RNS HR</title>
  <link rel="stylesheet" href="css/main.css">
  <script defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<67f2e39f-76ad-40ec-9fc9-54d735a8cb4a>"
    type="text/javascript"></script>
  <script src="js/swiper.js" defer></script>
  <script src="js/main.js" defer></script>
</head>