<section class="partners">
  <div class="container">
    <h2 class="title partners__title"><span class="text--grey">Наши</span> партнеры</h2>
    <ul class="partners__list">
      <li class="partners__item">
        <span class="partners__content">РЖД</span>
        <img class="partners__img" src="img/svg/rzd-icon.svg" alt="Логотип компании">
      </li>
      <li class="partners__item">
        <span class="partners__content">Россельхоз Банк</span>
        <img class="partners__img" src="img/svg/ros-icon.svg" alt="Логотип компании">
      </li>
      <li class="partners__item">
        <span class="partners__content">ВШЭ</span>
        <img class="partners__img" src="img/svg/vshe-icon.svg" alt="Логотип компании">
      </li>
      <li class="partners__item">
        <span class="partners__content">Узнай Москву</span>
        <img class="partners__img" src="img/svg/uznayMSK-icon.svg" alt="Логотип компании">
      </li>
      <li class="partners__item">
        <span class="partners__content">Корпорация МСП</span>
        <img class="partners__img" src="img/svg/MSP-icon.svg" alt="Логотип компании">
      </li>
      <li class="partners__item">
        <span class="partners__content">ОРВ</span>
        <img class="partners__img" src="img/svg/orv-icon.svg" alt="Логотип компании">
      </li>
      <li class="partners__item">
        <span class="partners__content">En+ group</span>
        <img class="partners__img" src="img/svg/enGroup-icon.svg" alt="Логотип компании">
      </li>
      <li class="partners__item">
        <span class="partners__content">РусГидро</span>
        <img class="partners__img" src="img/svg/rusGidro-icon.svg" alt="Логотип компании">
      </li>
      <li class="partners__item">
        <span class="partners__content">ВДНХ</span>
        <img class="partners__img" src="img/svg/vdnh-icon.svg" alt="Логотип компании">
      </li>
      <li class="partners__item">
        <span class="partners__content">Газпром </span>
        <img class="partners__img" src="img/svg/gazprom-icon.svg" alt="Логотип компании">
      </li>
      <li class="partners__item">
        <span class="partners__content">Роскомнадзор </span>
        <img class="partners__img" src="img/svg/roskomnadzor.svg" alt="Логотип компании">
      </li>
      <li class="partners__item">
        <span class="partners__content">Росаккредитация </span>
        <img class="partners__img" src="img/svg/rosakreditacia.svg" alt="Логотип компании">
      </li>
      <li class="partners__item">
        <span class="partners__content">Минэкономразвития </span>
        <img class="partners__img" src="img/svg/minek.svg" alt="Логотип компании">
      </li>
    </ul>
    <div class="partners__info">
      <p class="partners__others">...и ещё десятки компаний.</p>
      <span>Более 148 проектов</span>
    </div>
  </div>
</section>