$color-black: #000000;
$color-white: #FFFFFF;
$color-bg: #0D1E29;

$font-family: "Manrope", sans-serif;
$header-font-family: "Comfortaa", sans-serif;
$alternative-font-family: 'Montserrat', sans-serif;

$small: 374px;
$desktop: 1024px;
$hd: 1920px;

$transition-time: 0.25s;

/* old */
$max-width: 1440px;
$left-margin: 5px; //такой отступ был в фигме, пока такой и вставила



$gray-opacity-middle: rgba(255, 255, 255, 0.6);
$white-opacity-middle: rgba(255, 255, 255, 0.7);
$white-opacity-light: rgba(255, 255, 255, 0.4);