.conditions {
  padding-top: var(--padding-top);
  position: relative;
  font-family: 'Inter', sans-serif;

  &__next {
    right: 20px;
  }

  &__prev {
    left: 20px;
  }

  &-btn {
    top: 57%;
  }
}

.conditions-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: clamp(0.188rem, -0.963rem + 5.75vw, 5.938rem);

  &__text {
    font-size: clamp(1.5rem, 1.023rem + 2.39vw, 2.813rem);
    line-height: 150%;
    max-width: 680px;
    color: var(--grey-color);
    position: relative;

    & span {
      display: inline-block;
      color: var(--white-color);
    }
  }
}