.feedback {
  padding-top: var(--padding-top);
  opacity: 0;

  &__descr {
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-size: clamp(0.969rem, 0.875rem + 0.47vw, 1.438rem);
    font-weight: 400;
    line-height: 143%;
    color: var(--grey-color);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: clamp(1.938rem, 1.75rem + 0.94vw, 2.875rem);
    font-family: 'Inter', sans-serif;
    width: 100%;

    & input {
      width: 100%;
    }
  }

  &__input {
    position: relative;

    & input {
      padding: 22px 12px;
      font-weight: 700;
      font-size: clamp(1.031rem, 0.663rem + 1.84vw, 2.875rem);
      border: 1px solid var(--white-color);
      border-radius: 5px;
      color: var(--white-color);
      background-color: transparent;
      transition: all ease-in 0.15s;

      &:focus-visible {
        box-shadow: 0px 0px 8px 1px var(--white-color);
      }

      &:focus::placeholder {
        transition: all ease-in 0.15s;
        opacity: 0.5;
      }
    }

    &--invalid {
      box-shadow: 0px 0px 8px 2px var(--red-color);
    }

    & label {
      display: block;
      position: absolute;
      top: -11%;
      left: 1%;
      transform: translate(11%, -1%);
      padding: 0 2px;
      font-weight: 300;
      font-size: clamp(0.969rem, 0.875rem + 0.47vw, 1.438rem);
      background-color: var(--liquorice-color);
    }
  }
}

.telegram {
  position: relative;
  padding-left: 80px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -1%;
    transform: translateY(-50%);
    background-image: url(../img/svg/telegram.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 80px;
    height: 80px;
    z-index: 10;
  }
}