.header {
  padding: 33px;
  font-size: 16px;
  font-weight: 600;
  color: var(--grey-color);

  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__item {
    position: relative;
    transition: all ease-in 0.12s;
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--white-color);
      transform: translateY(-2px);
    }

    &:nth-child(4) {

      & svg {
        transition: ease-in 0.12s;
      }

      &:hover svg {
        opacity: 1;
      }
    }
  }

  &__contacts {
    flex-direction: column;
    gap: 6px;
  }

  &__mail {
    font-size: 14px;
    font-weight: 400;
  }
}