.header {
  padding: 33px;
  font-size: 16px;
  font-weight: 600;
  color: var(--grey-color);

  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__item {
    position: relative;
    transition: all ease-in 0.12s;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      background-color: red;
      width: 0;
      height: 2px;
      transition: all ease-in 0.12s;

    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -3px;
      background-color: blue;
      width: 0;
      height: 2px;
      transition: all ease-in 0.12s;

    }

    &:hover::before {
      width: 100%;
    }

    &:hover::after {
      width: 100%;
      background-color: #fff;

    }

    &:hover,
    &:focus {
      color: var(--white-color);
      transform: translateY(-2px);
    }

    &:nth-child(4) {

      & svg {
        transition: ease-in 0.12s;
      }

      &:hover svg {
        opacity: 1;
      }
    }
  }

  &__contacts {
    flex-direction: column;
    gap: 6px;
  }

  &__mail {
    font-size: 14px;
    font-weight: 400;
  }
}