.hero {
  position: relative;
  background-color: var(--white-color);

  &__swiper {
    height: 100vh;
  }

  &-slide {
    padding-top: 138px;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--grey-color);

    &--1 {
      background-image: url(../img/hero-slide1.jpg);
    }

    &--2 {
      background-image: url(../img/hero-slide2.jpg);
    }

    &--3 {
      background-image: url(../img/hero-slide3.jpg);
    }

    &--4 {
      background-image: url(../img/hero-slide4.jpg);
    }

    &--5 {
      background-image: url(../img/hero-slide5.jpg);
    }
  }

  &__content {
    margin-left: 92px;
  }

  &__title {
    margin-bottom: 28px;
    max-width: 520px;
  }

  &__text {
    margin-bottom: 17px;
    font-size: clamp(1.75rem, 1.55rem + 1vw, 2.75rem);
    font-weight: 700;
    line-height: 150%;
    max-width: 680px;
  }

  &__managers {
    font-size: 18px;
    font-weight: 400;
    line-height: 167%;
    max-width: 380px;

    &--upper {
      display: inline-block;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__next {
    right: 50px;
  }

  &__prev {
    left: 50px;
  }

  &-btn {
    top: 58%;
    transform: translateY(-58%);
  }

  &__pagination {
    position: absolute;
    bottom: 76px;
    left: 50%;
    transform: translateX(-50%);
  }
}