.services {
  padding-top: var(--padding-top);
  position: relative;

  &__title {
    margin-bottom: 25px;
  }

  &__container {
    height: 100%;
  }

  &-slide {
    position: relative;
    color: var(--liquorice-color);
    background-color: var(--white-color);
    transition: ease-out 0.3s;
    height: 100%;

    &:hover {
      background-color: var(--yellow-color);
    }

    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: auto;
      background-position: bottom;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      z-index: 1;
      transition: ease-out 0.5s;
    }

    &--1::before {
      top: -350px;
      left: -18%;
      background-image: url(../img/sword--1.png);
    }

    &:hover::before {
      top: -320px;
      opacity: 1;
      visibility: visible;
    }
  }

  &-content {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    height: 100%;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__img {
    height: 100%;
    width: max-content;
    align-self: end;
    z-index: 10;
  }

  &__descr {
    padding-top: 70px;
  }

  &__subtitle {
    margin-bottom: clamp(0.813rem, -0.05rem + 4.31vw, 5.125rem);
    font-weight: 800;
    font-size: clamp(2.188rem, 1.775rem + 2.06vw, 4.25rem);
    line-height: 113%;
  }

  &__text {
    margin-bottom: clamp(0.813rem, -0.05rem + 4.31vw, 5.125rem);
    font-size: clamp(1.313rem, 1.038rem + 1.38vw, 2.688rem);
    line-height: 200%;
  }

  &__manager {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: var(--grey-color);

    &--upper {
      display: block;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--liquorice-color);
    }
  }

  &__next {
    right: 50px;
  }

  &__prev {
    left: 50px;
  }

  &-btn {
    top: 50%;
    transform: translateY(-50%);
  }

  &__pagination {
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);

    & .swiper-pagination-bullet {
      background-color: var(--liquorice-color);

      &-active {
        background-color: var(--grey-color);
      }
    }
  }
}