#map {
  filter: invert(1);
}

.ymaps-2-1-79-balloon {
  filter: invert(1);
}

.balloon {
  font-family: 'Manrope';
  font-size: 38px;
  font-weight: 800;

  &__address {
    line-height: 105%;
  }
}

.ymaps-2-1-79-image {
  filter: invert(1);
}

.ymaps-2-1-79-balloon__tail::after {}

.ymaps-2-1-79-balloon__layout {
  border-radius: 16px;
}

.ymaps-2-1-79-balloon__content {
  font-family: 'Manrope';
}

.ymaps-2-1-79-balloon__layout {
  background-color: black;
}